In [1]:
import pandas as pd

In [36]:
df = pd.read_csv("rides_02.csv",index_col=False)
df.iloc[1,1]

'2,2020-08-01 00:09:14,2020-08-01 00:17:56,N,1,95,130,1,2.25,9.5,0.5,0.5,2,0,,0.3,12.8,1,1,0\r\n'

In [37]:
df.size

162128

In [39]:
# df = df.drop(['Unnamed: 0'],1)
df1 = df.head(300)
df1

/var/folders/8_/5jrrzcc913ld81kz2_vhx2jr0000gq/T/ipykernel_72279/247071763.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop(['Unnamed: 0'],1)

                                                     0
0    VendorID,lpep_pickup_datetime,lpep_dropoff_dat...
1    2,2020-08-01 00:09:14,2020-08-01 00:17:56,N,1,...
2    2,2020-07-31 23:59:45,2020-08-01 00:12:19,N,1,...
3    1,2020-08-01 00:11:51,2020-08-01 00:18:18,N,1,...
4    2,2020-08-01 00:25:42,2020-08-01 00:29:24,N,1,...
..                                                 ...
295  2,2020-08-01 09:29:49,2020-08-01 09:31:53,N,1,...
296  2,2020-08-01 09:38:22,2020-08-01 09:51:06,N,1,...
297  2,2020-08-01 09:41:39,2020-08-01 09:55:19,N,1,...
298  2,2020-08-01 09:47:52,2020-08-01 10:07:38,N,1,...
299  2,2020-08-01 09:51:36,2020-08-01 10:48:24,N,1,...

[300 rows x 1 columns]

In [47]:
import csv
df1.to_csv("rides02.csv", header= False, index= False, quoting = csv.QUOTE_NONE, escapechar='\t')